:root{
  /* 나눔 펜 스크립트 폰트 */
  --nanum : "NanumPenScript";
  /* 컬러 포인트 */
  --pink : #D7B9FC;
  --blue : #859DE8;
  --navy : #0C2139;
  --white : #FFFFFF;
  --black : #000000;
}

/* 너비 잡기 */
.container_wt{
  max-width: 92.5rem;
  margin: 0 auto;
}

/* 컨텐츠 상하 패딩값 */
.content_pd{
  padding: 6.25rem 0;
}